body {
    background-color: #ffe309;
}

p {
    line-height: 20px;
    font-size: 10pt;
    font-family: 'Ubuntu', sans-serif;
    color: #ec413f;
}

a {
    color: #ec413f;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #ec413f;
}

div.border {
    padding: 7px;
    padding-bottom: 4px;
    border: 2px solid #ec413f;
}

div.column {
    display: inline-block;
}

div.left {
    float: left;
    text-align: left;
}

div.right {
    float: right;
    text-align: right;
}

div.clicker {
    position: absolute;
    cursor: pointer;
}
