body {
    background-color: #ffe309;
}

p {
    line-height: 40px;
    font-size: 10pt;
    font-family: 'Ubuntu', sans-serif;
    color: #ec413f;
}

a {
    color: #ec413f;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid #ec413f;
}

div.border {
    padding: 7px;
    padding-bottom: 4px;
    border: 2px solid #ec413f;
}
